$font-base: sans-serif !default;

@font-face {
  font-family: 'Verlag-Black';
  src: url('/static/fonts/Verlag-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Verlag-Book';
  src: url('/static/fonts/Verlag-Book.eot');
  src: url('/static/fonts/Verlag-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Leafy';
  src: url('/static/fonts/leafy.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Euphorigenic';
  src: url('Euphorigenic-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

